    <div class="container">
        <form id="myForm">
            <div class="form_item">
                <label>Owner of note:</label>
                <input type="text" id="owner" name="owner">
            </div>

            <div class="form_item">
                <label>Title of the note:</label>
                <input type="text" id="title" name="title">
            </div>

            <div class="form_item">
                <label>Message:</label>
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit"> Add note </button>
        </form>

    </div>

<script>
/*
const callback = (element) => {
     element.preventDefault()

    const jsonData = {
        owner: $('#owner').val(),
        title: $('#title').val(),
        message: $('#message').val(),
    };
    console.log(jsonData)

$.ajax({
        type:'POST',
        url:'/api/add_note',
        error:()=>{
            alert('Problem')
        }
    })
    

};

*/
//Vamos usar o JQUERY- we are catch the form, and will be listening for the submit
// Then we get an event, whenever we made a form the default behavior is to reload the page, so we can catch this event
$('#myForm').on('submit', (element) => {
     element.preventDefault()

    const jsonData = {
        owner: $('#owner').val(),
        title: $('#title').val(),
        message: $('#message').val(),
    };
    console.log(jsonData)
//ajaz utiliza o método XMLHTttpRequest para fazer requisições assincronas, Acessa uma determinada URL
$.ajax({
        type:'POST',
        url:'/api/add_note',
        data:JSON.stringify(jsonData),
        contentType:'application/json',
        sucess:(data,status)=>{
            window.location.href= "/";
        },
        error:()=>{
            alert('Problem')
        }
    })
    
})

</script>